// @keyframes showMenu {
//   0% {
//     left: -110%;
//   }

//   100% {
//     left: 0;
//   }
// }
// @keyframes hideMenu {
//   0% {
//     left: 0;
//   }

//   100% {
//     left: -110%;
//   }
// }

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
