@keyframes showMenu {
  0% {
    left: -110%;
  }

  100% {
    left: 0;
  }
}
@keyframes hideMenu {
  0% {
    left: 0;
  }

  100% {
    left: -110%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text {
  0% {
    transform: translate(200%, -50%);
  }
  3% {
    transform: translate(200%, -50%);
  }

  6% {
    transform: translate(0, -50%);
  }

  30% {
    transform: translate(0, -50%);
  }

  33% {
    transform: translate(-200%, -50%);
  }

  100% {
    transform: translate(-200%, -50%);
  }
}
