@import '../base/colors';
@import '_animations';

.port-container {
  margin-top: 2rem;
  h1 {
    color: $colorWhite;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 35px;
    margin-bottom: 15px;
    text-align: center;
  }
}

.section-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 75vw;
  margin: 0 auto;
  // border: 1px solid blue;
  text-align: center;
  .col {
    box-sizing: border-box;
    flex-basis: 25%;
    background-color: $second-bg-color;
    box-shadow: 5px 10px 15px $bg-color;
    border-radius: 2rem;
    padding: 20px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: 0.3s ease-in-out;
    &:hover {
      box-shadow: 5px 10px 25px $mouseover-bg;
    }
    img {
      width: 80%;
      align-self: center;
      border-radius: 1.6rem;
    }
    p {
      margin: 20px 0 32px;
      color: $colorWhite;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.5px;
      &:nth-child(1) {
        color: $colorWhite;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 35px;
        margin-bottom: 15px;
      }
    }
  }
}

@import '../layout/responsive/responsive-portContainer';
