@import '../base/colors';

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 2.5rem;
  .info-box {
    max-width: 80%;
    // border: 1px solid black;
  }
  .header {
    margin: 0;
    color: $colorWhite;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 35px;
    margin-top: 2rem;
  }
  .info-text {
    margin: 20px 0 32px;
    color: $colorWhite;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
  .info-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .info-btn {
    cursor: pointer;
    padding: 10px 42px;
    border-radius: 16px;
    font-weight: 600;
    font-size: 15px;
    color: $colorWhite;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 3px 7px $mouseover-bg;
  }
  .info-btn.nav-btn {
    margin-left: 20px;
    background-color: black;
    border: 1px solid $colorWhite;
  }
  .info-btn.selected {
    border: none;
    background-color: $bg-color;
  }

  .ig-box {
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    box-shadow: 5px 10px 15px $bg-color;
    transition: 0.3s ease-in-out;
    &:hover {
      box-shadow: 5px 10px 25px $mouseover-bg;
    }
    .ig-content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 10px;
    }
    .info {
      display: flex;
      align-items: center;
      color: $colorWhite;
      font-weight: 600;
      font-size: 13px;
    }
    .likes {
      display: flex;
      align-items: center;
      color: $colorWhite;
      font-weight: 600;
      font-size: 12px;
      .icon-box {
        display: flex;
        align-items: center;
        font-size: 15px;
        .bx {
          font-size: 30px;
          margin-right: 8px;
        }
      }
    }
    .info-img {
      object-fit: cover;
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  .ig-pic {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 1.6rem;
  }
  .info-buttons-two {
    margin-top: 15px;
  }
}

@import '../layout/responsive/responsive-container';
