$colorWhite: #fff;
$mainColorText: #0ef;
$bg-color: #1f242d;
$second-bg-color: #323946;
$third-bg-color: #717b8d;

// Section tap-container

$gradient-start-color: #5da6f8; // nowy kolor początkowy gradientu
$gradient-end-color: #02183d;
$mouseover-bg: #000000;
// end tap-cointener

// Section down-container

$colorGrayColor: #ccc;
$borderMainColor: rgba(255, 255, 255, 0.3);
$bgMainColor: rgba(255, 255, 255, 0.2);
$colorTextTwo: #ccc;
//end down-container
